<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<script type="text/javascript" src="https://login.persona.org/provisioning_api.js"></script>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript">
/*jslint browser: true */
/*global navigator, $ */

navigator.id.beginProvisioning(function (email, cert_duration) {
    'use strict';

    navigator.id.genKeyPair(function (pubkey) {
        // try and certify key as email
        $.post('/api/certkey', {email: email,
                                token: "{{ token }}",
                                pubkey: pubkey,
                                duration: cert_duration})
            .success(function (r) {
                // all done! woo!
                navigator.id.registerCertificate(r.cert);
            })
            .error(function (r) {
                navigator.id.raiseProvisioningFailure("couldn't certify key");
            });
    });
});
</script>
</head>
</html>
